body
{
   font-family: 'Fira Sans', sans-serif;
}
.header
{
	padding-bottom: 5px;
	outline: none;
	background-color: rgb(0, 116, 199);
	color: rgb(255, 255, 255);
	border-color: rgba(255, 255, 255, 0.188235);
	border-bottom-width: 3px;
	border-style: solid;
}
.main-content 
{
	margin:auto;
	text-align: center;
}
.page
{
	padding-top:90px;
	padding-bottom: 90px;
}
.step-1 
{

}
.step-2
{
	padding-left:60px;
}
.page_1
{
	background: rgb(237, 248, 255);
	border-color: rgb(213, 229, 240);
	padding-bottom: 80px;
	background-image: url(../img/background_page1.png);
}
.page_1 h1 
{
	font-size:46px;
	color:rgb(57, 76, 96);
	margin:auto;
	margin-top:100px;
	margin-bottom: 40px;
}
.page_1 h1>b
{
	color:#c60000;
}
.page_1-footer
{
	font-size:46px;
	font-weight: 700;
	color:rgb(57, 76, 96);
	width: 80%;
	margin:auto;
	padding-top:50px;
}
.step-titel
{
	color:rgb(57, 76, 96);
	font-size:75px;
	font-weight: 700;
}
.step-line 
{
	background:rgb(57, 76, 96);
	height: 6px;
	width: 60%;
}
.step-content
{
	font-size: 28px;
	font-weight: 600;
	color:rgb(57, 76, 96);
	margin-top:16px;
}
.step-description
{
	margin-top:10px;
	font-size:20px;
	color:rgb(35, 35, 35);
	padding-bottom: 15px;
}
.page_3
{
	background: rgb(247, 247, 247);
}
.page_5
{
	background: rgb(247, 247, 247);
}
.page_7
{
	background: rgb(247, 247, 247);
}
.page_9
{
	background: rgb(247, 247, 247);
	padding-bottom: 180px;
}
.btn-trial
{
	background: rgb(49, 181, 119);
	font-size:25px;
	color:white;
	font-weight: 600;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
	padding:15px 25px;
}
.btn-trial:hover
{
	background: #34ab73;
	border:solid 1px #34ab73;
}
.btn-trial span
{
	opacity: 0.6;
	font-size:22px;
}
#footer
{
	background: rgb(47, 57, 67);
	color:white;
	padding-top: 70px;
	padding-bottom: 40px;
}
.sub-footer
{
	color:white;
}
.sub-footer b 
{
	color:white;
	font-size:18px;
	text-decoration: none;
}
.sub-footer a 
{
	color:#b3b8bc;
	font-size:16px;
	margin-top: 6px;
}
.copy-right
{
	margin-top:25px;
}